

[submodule "modules"]
	path = modules
	url = https://github.com/galopago/kicad-footprints
	branch = RAK4200-FOOTPRINT

[submodule "library"]
	path = library
	url = https://github.com/galopago/kicad-symbols
	branch = RAK4200
[submodule "packages3D"]
	path = packages3D
	url = https://github.com/KiCad/kicad-packages3D
